{% extends 'base.html' %}
{% load static %}
{% block title %}
    <title>{{ user.username }}</title>
{% endblock %}
{% block body %}
    <h1 class="mb-4">{{ user.username }}</h1>

    <h3>Profile</h3>
    <p>First name: {{ user.first_name }}</p>
    <p>Last name: {{ user.last_name }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Username: {{ user.username }}</p>
    <p>Description: {{ user.userprofile.description }}</p>
    <p>Phone: {{ user.userprofile.phone }}</p>
    <p>Website: {{ user.userprofile.website }}</p>
    <img src="{{ user.userprofile.image.url }}" alt="{{ user.username }}" width="240" />
{% endblock %}